<footer id="footer">
    <p><a href="/" title="Back to top" id="topbutton"><img src="/images/totop.jpg" alt="To Top"></a></p>
    <p><a href="/">About Us</a> | <a href="/">Policies</a> | <a href="/">Customer Service</a></p>
    <p><small>©COMP2106 Advanced Server-Side Scripting: Presentation -PayPal-</small></p>
</footer>

<!-- JavaScript -->

<script type="text/javascript" src="/javascripts/pnavi.js"></script>
</body>
</html>