<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>

		<!-- CSS -->
		<link href="/stylesheets/normalize.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
		<!-- footer stick to bottom of page -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
		<script type="text/javascript" src="/javascripts/footerFixed.js"></script>
		<link rel="shortcut icon" href="/images/favicon.ico" >
	</head>
	<body>
		<header>
            <nav id="floatingbar">
				<a href="/" title="top page"><img src="/images/logo.svg" alt="logo" /></a>
				<ul>
          <li><a href="/" title="games">Games</a></li>
					<li><a href="/" title="books">Books</a></li>
					<li><a href="/" title="toys">Toys</a></li>
					<li><a href="/" title="cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/" title="sign in">Sign Up</a></li>
					<li><a href="/" title="log in">Log In</a></li>
                </ul>
            </nav>
		</header>