<% include shared/header.ejs %>



    <div>
			<img src="/images/topimg.jpg" alt="top img" />			
			<h1>Welcome to <br>Mario Fan Shop</h1>
			<h2>For everyone who loves Mario,<br>
				We offer rare goods you must be excited at!
			</h2>
		</div>

		<main>
			<h2>Featured Lineup in May</h2>
			<div class="product">
				<section>
					<a href="/product01"><h3>Mariokart Wii Complete Package</h3>
					<img src="/images/soft1.jpg" alt="Game Software" /></a>
					<p>Great package include Super Mario Kart software and Wii controller.</p>
					<a href="/"><p class="cate">[Game]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i><br>
					CND$ 109.11</p>
				</section>
				<section>
					<a href="/"><h3>New Super Mario Bros. Wii</h3>
					<img src="/images/soft2.jpg" alt="Game Software" /></a>
					<p>A classic Mario adventure that everyone can enjoy at the same time on Wii.</p>
					<a href="/"><p class="cate">[Game]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i> 
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 37.05</p>
				</section>
				<section>
					<a href="/"><h3>Super Mario Maker</h3>
					<img src="/images/soft3.jpg" alt="Game Software" /></a>
					<p>The Mario experience of your dreams is about to get made. ..by you.</p>
					<a href="/"><p class="cate">[Game]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 59.99</p>
				</section>
			</div>
			<div class="product">
				<section>
					<a href="/"><h3>Super Mario Series for Guitar [Music score]</h3>
					<img src="/images/book1.jpg" alt="Game Software" /></a>
					<p>You can enjoy the famous Mario theme songs by the guitar!</p>
					<a href="/"><p class="cate">[Book]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i><br>
					CND$ 32.05</p>
				</section>
				<section>
					<a href="/"><h3>Nintendo Adventure Books vol.1 "Double Trouble"</h3>
					<img src="/images/book2.jpg" alt="Game Software" /></a>
					<p>The novel for the Mario Brothers after the world of "Super Mario Brothers"</p>
					<a href="/"><p class="cate">[Book]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 22.05</p>
				</section>
				<section>
					<a href="/"><h3>Super Mario World - Super Technic Book</h3>
					<img src="/images/book3.jpg" alt="Game Software" /></a>
					<p>Illustrated whole maps of the game stages. You can find many tips you haven't known.</p>
					<a href="/"><p class="cate">[Book]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 28.11</p>
				</section>
			</div>
			<div class="product">
				<section>
					<a href="/"><h3>Super Mario World Pair Magcups</h3>
					<img src="/images/prod1.jpg" alt="Game Software" /></a>
					<p>Designed the basic Mario World stages.</p>
					<a href="/"><p class="cate">[Toy]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 32.45</p>
				</section>
				<section>
					<a href="/"><h3>Super Mario silicon Dolls</h3>
					<img src="/images/prod2.jpg" alt="Game Software" /></a>
					<p>Tripl set of Mario, Luigi, Yosshi. You can display them in your living room.</p>
					<a href="/"><p class="cate">[Toy]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i> 
						<i class="fas fa-star"></i> 
						<i class="fas fa-star"></i><br>
					CND$ 62.99</p>
				</section>
				<section>
					<a href="/"><h3>Mario Earphone clip</h3>
					<img src="/images/prod3.jpg" alt="Game Software" /></a>
					<p>You'll be never annoying with tangling up of your earphone cords.</p>
					<a href="/"><p class="cate">[Toy]</p></a>
					<p><i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i><br>
					CND$ 18.11</p>
				</section>
			</div>
			<p class="seemore"><a href="/" title="See more">See more >></a></p>
		</main>



<% include shared/footer.ejs %>