<% include shared/header.ejs %>
<main class="container">
    <h2 class="text-left">Mariokart Wii Complete Package</h2>
    <h3>Buy for 109.11</h3>
    <form action="/pay" method="post">
        <input type="submit" value="Buy" class="btn btn-dark btn-lg pull-right" style="margin-top:30px;">
    </form>
</main>
<% include shared/footer.ejs %>