<% include shared/header.ejs %>

<main class="container">
    <h2 class="text-left">Mariokart Wii Complete Package</h2>
    <div class="row">
        <div class="col-sm-7">
            <p>by Nintendo</p>
            <p>Platform : Nintendo Wii</p>
            <p><i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i><br>
            <p>Price:	CND$ 109.11 & FREE Shipping</p> 
            <p>In Stock</p>
            <h4>Product description:</h4>
            <p>Get behind the wheel! Perform speed-boosting flips and wheelies with the flick of a Wii Remote, or grab a Wii Wheel for even more fast-paced fun! Play friends locally on a single Wii, or hop onto Nintendo WFC for the biggest worldwide race yet! Wii Wheel sold separately. Broadband Internet access required for online play.</p>
            <p>Quantity: <input type="number" name="quantity" value="1" min="1"></p>
            <a href="/cart"><button type="button" class="btn btn-dark btn-lg"><i class="fas fa-shopping-cart"></i> Add to cart</button></a>
        </div>
        <div class="col-sm-5">
            <img src="/images/soft1.jpg" alt="Game Software"/>
        </div>
    </div>
</main>

<% include shared/footer.ejs %>